<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Create Asset</title>
</head>
<body>
    <header>
        <img class="logo" src="{{ url_for('static', filename='images/mel_logo.png') }}" alt="mel-logo">
       
    </header>
   <section class="container">
    <form class="create" action="/create_asset" method="POST">

        <label for="">Device Type:</label>
        <input type="text" name="type" id="device-type" >

        <label for="">Device Description:</label>
        <input type="text" name="description">


        <label for="">S/N:</label>
        <input type="text" name="serial">


        <label for="">Department:</label>
        <select name="department" id="">
            <option value="Finance" name="action">Finance</option>
            <option value="IT" name="action">IT</option>
            <option value="Operation" name="action">Operation</option>
            <option value="Commercial"name="action">Commercial</option>
            <option value="HR" name="action">HR </option>
            <option value="Admin" name="action">Admin</option>
        </select>

        
        

        <button type="submit">create</button>
        <a href="javascript:history.back()" class="go-back">Go Back</a>
    </form>
</section> 
</body>
</html>