<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>

<body>
     <header>
        <img class="logo" src="{{ url_for('static', filename='images/mel_logo.png') }}" alt="mel-logo">
       
    </header>
    <section class="container"  style="flex-direction: column;margin-top: 10%;">
    <br><br>
     <h1 class=""><strong>ID: </strong>{{ emp_id }}</h1>
     <h1 class=""><strong>Name:</strong> {{ name }}</h1>
     <h1 class=""><strong>Department:</strong> {{ emp_department }}</h1>


    <form class="create" action="/submit_handover_form" method="post">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Select</th>
                <th>Device Type</th>
                <th>Description</th>
                <th>S/N</th>
            </tr>
            </thead>
            <tbody>
                {% if devices %}
                    {% for device in devices %}
                    <tr> 
                        <td>
                            <input type="checkbox" name="selected_devices" value='{{ device | tojson | safe }}'>
                            </td>
                      <td>{{ loop.index }}.{{ device["Device Type"] }}</td>
                      <td>{{ device["Description"] }}</td>
                      <td>{{ device["S/N"] }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>No assets found for this Employee ID.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        
        <button type="submit">Create Handover Form</button>
        <a href="/" class="go-back">Go Back</a>
        <br><br>
      </form>



    </section>




</body>

</html>